<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203704993989-u5ph2p5jmcjfollofiu7mvi4p9h1cek6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203704993989-u5ph2p5jmcjfollofiu7mvi4p9h1cek6</string>
	<key>API_KEY</key>
	<string>AIzaSyBhEmxtrXp1Rmz6ab8_zVo_QhZPUd_RZ9g</string>
	<key>GCM_SENDER_ID</key>
	<string>203704993989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.tabApp</string>
	<key>PROJECT_ID</key>
	<string>new-trier-lunch-app</string>
	<key>STORAGE_BUCKET</key>
	<string>new-trier-lunch-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203704993989:ios:6d90c3daf2fc75f8c748ac</string>
	<key>DATABASE_URL</key>
	<string>https://new-trier-lunch-app.firebaseio.com</string>
</dict>
</plist>